services:
  mariadb:
    image: mariadb:11.4
    env_file: .env
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - internal
    restart: unless-stopped

volumes:
  mariadb_data:

networks:
  internal:
    external: true

